.body {
  width: 100%;
  margin: 0;
} 

.page-content {
  background-color: white;
  min-width: 600px;
}

.photo-grid {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
  margin: 0 auto;
} 