.header {
  background-color: #2d2d44;
  padding: 35px 0 14px;
  font-size: 14px;
  line-height: 1.29em;
  color: white;
  margin: 0;
}

.header__links {
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  color: white;
}

.header__link:hover {
  opacity: .3;
}

.header__table {
  display: flex;
  max-width: 1184px;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
  margin: 0 auto;
}

.header__block-one {
  display: flex;
  min-height: 60px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: .63em;
  font-size: 18px;
  column-gap: 18px;
}

.header__block-two {
  min-height: 120px;
}

.header__block-three {
  display: flex;
  min-height: 60px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 18px;
  margin-top: .63em;
  font-size: 18px;
  column-gap: 18px;
}
     