.footer {
  background-color: #2d2d44;
  padding: 35px 0 14px;
  font-size: 14px;
  line-height: 1.29em;
  color: white;
}

.footer__links {
  list-style-type: none;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.footer__table {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, auto);
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
  margin: 0 auto;
}